.table-row {
  background-color: inherit;
}

a,
p {
  text-decoration: none;
  color: white;
  margin: auto;
}

.rowFooter{
    display: flex;
}

@media (max-width: 600px) {
    .rowFooter {
      display:block;
    }
  }